@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-Heavy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-HeavyItalic.otf") format("opentype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-MediumItalic.otf")
    format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "AppetitePro";
  src: url("/fonts/Appetite pro/AppetitePro-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.font-appetite {
  font-family: "AppetitePro", sans-serif;
  font-style: normal;
  line-height: 1.1 !important;
}

body {
  font-family: "Public Sans", sans-serif;
}

.bg-overlay {
  background: transparent url("/images/Bitmap.jpg") 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center center;
  opacity: 0.15;
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.waves-animation {
  position: relative;
  text-align: center;
  background: linear-gradient(
    60deg,
    rgba(198, 198, 208, 0.49) 0%,
    rgba(55, 198, 244, 0.49) 100%
  );
  color:white;
  margin-bottom: -5px;
  /* removes any visible line gap */
}

.waves {
  position: relative;
  width: 100%;
  height: 15vh;
  margin-bottom: -7px;
  min-height: 100px;
  max-height: 150px;
  transform: rotate(180deg);
}

.parallax > use {
  animation: move-forever 15s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}

.parallax > use:nth-child(1) {
  animation-delay: -1s;
  animation-duration: 5s;
}

.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 7s;
}

.parallax > use:nth-child(3) {
  animation-delay: -3s;
  animation-duration: 9s;
}

.parallax > use:nth-child(4) {
  animation-delay: -4s;
  animation-duration: 11s;
}

.page-hero-section-overlay:after {
  content: "";
  background-color: hsl(241deg 50% 23% / 39%);
  height: 100%;
  width: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
}

body.no-scroll {
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
}
.category-with-sub .sub-cat li:first-child {
    padding-top: 8px;
}
.category-with-sub .sub-cat li:last-child {
    padding-bottom: 8px;
}

.category-with-sub .sub-cat {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.filter-top > ul > li:hover {
    color: #37c6f4;
    transition: all 0.3s 
linear;
}

.filter-middle > ul > li {
  position: relative;
  transition: all 0.3s linear;
}
.filter-middle > ul > li:before {
  content: "";
  display: block;
  height: 17px;
  width: 1px;
  background-color: #1e1d57;
  position: absolute;
  top: 100%;
  left: 18px;
}
.filter-middle > ul > li:last-child:before {
  display: none;
}
.filter-middle > ul > li span.arrow-right {
  transition: all 0.3s linear;
}
.filter-middle > ul > li.active span.arrow-right {
  transform: rotate(90deg);
}
.filter-middle > ul > li.active,
.filter-middle > ul > li:hover {
  color: #37c6f4;
}

.features-card:hover  h3{
  text-decoration: underline; 
}
.features-card{
  width: 100%;
  aspect-ratio: 5/6;
}


.category-with-sub.active .sub-cat {
  opacity: 1;
}
.filter-middle li {
  font-size: 15px;
}
.filter-middle li li {
  font-size: 14px;
}
ul.sub-cat {
  padding-left: 32px;
}

.mob-hamburger {
  width: 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.mob-hamburger span.ham-line {
  width: 100%;
  display: block;
  height: 2px;
  background-color: #000;
}
.mob-hamburger:hover span.ham-line,
.mob-hamburger.active span.ham-line {
  background-color: #37c6f4;
  transition: all 0.3s linear;
}
.mob-hamburger.active span.ham-line.line2 {
  margin-bottom: 4px;
}

.mob-menu > a {
  padding: 15px 0;
  border-bottom: 1px solid #f2f2f2;
  /* font-size: 16px; */
}

.acc-login-reg {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 0;
  border-top: 1px solid #f2f2f2;
}

.overlay-btm {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #16181e;
  z-index: 0;
  filter: blur(5px) brightness(0.5) opacity(0.29);
  backdrop-filter: blur(5px);
  display: none;
}
.overlay-btm.active {
  display: block;
}
.curator-panel-gallery ul.curator-picker-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.curator-panel-gallery ul.curator-picker-grid li {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  border: 1px solid #d4d4d8;
  border-radius: 5px;
  height: fit-content;
}
.curator-panel-gallery ul.curator-picker-grid li svg {
  height: 100%;
  width: 100%;
}
.curator-panel-gallery ul.curator-picker-grid li p.text-xs {
  position: relative;
  color: #000;
  padding-top: 10px;
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}

@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
}
/* slider infinite */
@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-slide {
  animation: slide 15s linear infinite;
}

/* water ppp resources page  */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.97);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}

.slide {
  overflow: hidden;
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  color: #161b52 !important;
}
.slide-button {
    font-size: 40px !important;
}

.card-before:before {
    content: "";
    display: block;
    height: 2px;
    width: 40px;
    background-color: #1e1d57;
    position: absolute;
    top: 150px;
    left: 100%;
}
.swiper-slide:last-child .card-before:before{
  display: none;
}

.swiper{
  overflow: visible !important;
}

.swiper-left-hide > div {
    clip-path: inset(0 -30% -10% 0px);
}

.swiper-button-disabled {
    color: #ABABAB;
}